* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;


    min-height: 100vh;
    background-image: url(../assets/img/theclimber4.png);
    background-repeat: repeat-x; /* repetir solo en horizontal */
    background-size: cover;  /* ajusta el alto para que ocupe toda la altura */

  animation: moverFondo 60s linear infinite; /* 20 segundos, movimiento lineal infinito */
    /*background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); /* fondo base oscuro */
    animation: cyberpunkBg 60s ease infinite;
    color: #fff;
    font-family: 'DotGothic16', sans-serif;
    overflow-x: hidden;
}

@keyframes cyberpunkBg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    flex: 1; /* esto hace que el main crezca y empuje el footer */
    justify-content: center;
    align-items: center;
    position: relative;
}

.div-rigth a {
    text-decoration: none;
    color: #fff;
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;

    border: 1px solid #e0e0e0;
    padding: 0.2rem;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 4px #121212;
}

.div-rigth a:hover {
    color: #e400ce;
    transform: scale(1.2);
}


.class-nav-header ul {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
    align-items: center;
    
}





.div-rigth ul {
    display: flex;
    list-style: none;
    gap: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.class-nav-header li {
    margin: 0 25px;
}


.div-contenedor-img-circulo {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Círculo exterior desenfocado */
.contorno {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 50px solid #e0e0e0;
    filter: blur(50px);    
    z-index: 0;

    
    
}

/* Círculo interior visible */
.eclipse {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 37px solid rgba(31, 31, 31, 0.5); /* cian neón translúcido */
    z-index: 1;
}

/* Imagen en el centro */
.imagen-perfil {
    width: 350px;
    height: 500px;
    background: url(./assets/img/1-removebg-preview.png) no-repeat center/cover;
    border-radius: 200px;
    z-index: 0;
    filter: brightness(0.6); /* 1 es normal, <1 más oscuro, >1 más claro */
}

/*Footer*/
.footer {
    width: 100%;
    height: 10%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between; /* separa izquierda y derecha */
    align-items: center;
    flex-wrap: wrap; /* por si en pantallas chicas se rompe */
}

.bloque-nombre {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinea el texto a la izquierda */
    color: #fff;
    
    border: 2px solid #e0e0e0;
    padding: 0.2rem;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 4px #121212;
}

.nombre-mio {
    margin: 2px 0;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

.redes-sociales {
    display: flex;
    gap: 20px;
    
    border: 2px solid #e0e0e0;
    padding: 0.4rem;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 4px #121212;
}

    .redes-sociales a {
        
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
}


.redes-sociales a:hover {
    color: #e400ce;
    transform: scale(1.2);
}

/* Línea vertical entre los dos bloques */
.linea-separadora {
    width: 80%;
    height: 2px;
    background-color: #e400ce;
    border-radius: 2px;

    border: 0.5px solid #e0e0e0;
    padding: 0.1rem;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 4px #121212;
}

.violeta {
    color: #e400ce; /* o el violeta que prefieras */
    font-weight: bold;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Cuadro centrado donde va la info, arranca oculto */
#cuadro-central {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95); /* combinamos ambos en una sola línea */
    
    width: 80vw;
    height: 80vh;
    /*background-color: #42214b;*/
    border-radius: 16px;
    /*padding: 20px;*/
    /*box-shadow: 0 0 30px rgba(255, 0, 200, 0.3);*/
    
    display: flex;
    flex-direction: row;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;


    border: 2px solid #e0e0e0;
    padding: 1rem;
    background-color: #1f1f1f;
    box-shadow: 0 0 0 4px #121212;
}

#cuadro-central.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* misma transformación combinada */
    pointer-events: auto;
}

.oculto {
    display: none;
}

.contenido-cuadro {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: opacity 0.3s ease;
}

.texto-seccion {
    flex-grow: 1;
    overflow-y: auto;
}


.barra-lateral {
    width: 200px;
    height: 100%;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* distribuye todo uniformemente */
    padding: 20px 10px;
    flex-shrink: 0;
}

.mini-seccion {
  font-size: 30px; /* tamaño más grande */
    color: #ccc;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.mini-seccion:hover {
    color: #fff;
    transform: scale(1.2);
}

.mini-seccion.activo {
    background-color: #ff00cc;
    color: white;
    box-shadow: 0 0 10px #ff00cc88;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #333;;
    box-shadow: 0 0 8px solid #333;;

}

.menu-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%; /* ocupa todo el espacio disponible */
    flex-grow: 1;
    margin-top: 20px;
}

.contenido-cuadro {
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    overflow-y: auto;
    padding: 20px;
}

.texto-seccion {
    max-width: 600px;
    text-align: center;
}

#slime-overlay {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #1f1f1f;
    border-radius: 50%;
    z-index: 9999;
    transform: scale(1);
    opacity: 0;
    transition: all 0.6s ease;
    pointer-events: none;
}
